body {
  cursor: url("cursor.png"), auto;
}

*,
*:hover,
*:active {
  cursor: url("cursor.png") 12 12, auto !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.poster-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f6c7db;
  overflow: hidden;
}

.poster-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 가격표 공통 */
.price {
  position: absolute;
  image-rendering: pixelated;
  cursor: pointer;
  z-index: 10;
  transform-origin: center center;
  transition: transform 0.2s ease-out;
}

.price-1 {
  top: 30.8%;
  left: 14.7%;
  width: 7vw;
}

.price-2 {
  top: 30.9%;
  left: 32%;
  width: 7vw;
}

.price-3 {
  top: 30.9%;
  left: 49.3%;
  width: 7vw;
}

.price-4 {
  top: 57.7%;
  left: 14.7%;
  width: 7vw;
}

.price-5 {
  top: 57.7%;
  left: 32%;
  width: 7vw;
}

.price-6 {
  top: 57.7%;
  left: 49%;
  width: 7vw;
}

.price-7 {
  top: 84.2%;
  left: 14.7%;
  width: 7vw;
}

.price-8 {
  top: 84.2%;
  left: 32%;
  width: 7vw;
}

.price-9 {
  top: 84.2%;
  left: 49.2%;
  width: 7vw;
}

.price:hover {
  transform: scale(1.05);
  z-index: 11;
}

/* 캐릭터 */
.girl {
  position: absolute;
  width: 28%;
  top: 41.5%;
  left: 80%;
  transform: translate(-50%, 0);
  image-rendering: pixelated;
  z-index: 3;
  pointer-events: none;
}

.outer {
  position: absolute;
  image-rendering: pixelated;
  pointer-events: none;
  z-index: 6;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  filter: brightness(1);
}

#outer1 {
  width: 11%;
  top: 45%;
  left: 80.1%;
  transform: translate(-50%, 0);
}

#outer2 {
  width: 13%;
  top: 44%;
  left: 79.7%;
  transform: translate(-50%, 0);
}

#outer3 {
  width: 10%;
  top: 51.5%;
  left: 80.2%;
  transform: translate(-50%, 0);
}

.outer.show {
  opacity: 1;
}

@keyframes flashEffect {
  0% {
    filter: brightness(2.5);
  }
  100% {
    filter: brightness(1);
  }
}

.outer.flash {
  animation: flashEffect 0.25s ease-out;
}

/*  하의 공통 */

.bottom {
  position: absolute;
  image-rendering: pixelated;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  z-index: 5;
}

#bottom1 {
  width: 9%;
  top: 66%;
  left: 80%;
  transform: translate(-50%, 0);
}

#bottom2 {
  width: 9%;
  top: 65%;
  left: 80%;
  transform: translate(-50%, 0);
}

#bottom3 {
  width: 11%;
  top: 65%;
  left: 80%;
  transform: translate(-50%, 0);
}

.bottom.show {
  opacity: 1;
}

@keyframes flashEffect {
  0% {
    filter: brightness(2.5);
  }
  100% {
    filter: brightness(1);
  }
}

.bottom.flash {
  animation: flashEffect 0.25s ease-out;
}

/*  가방 공통  */

.bag {
  position: absolute;
  image-rendering: pixelated;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  z-index: 4;
}

#bag1 {
  width: 8%;
  top: 71%;
  left: 71%;
  transform: translate(-50%, 0);
  transform: rotate(20deg);
}

#bag2 {
  width: 8%;
  top: 71%;
  left: 71%;
  transform: translate(-50%, 0);
  transform: rotate(20deg);
}

#bag3 {
  width: 6%;
  top: 73%;
  left: 73%;
  transform: translate(-50%, 0);
  transform: rotate(0deg);
}

.bag.show {
  opacity: 1;
}

@keyframes flashEffect {
  0% {
    filter: brightness(2.5);
  }
  100% {
    filter: brightness(1);
  }
}

.bag.flash {
  animation: flashEffect 0.25s ease-out;
}

#total-price {
  position: absolute;
  image-rendering: pixelated;
  pointer-events: none;
  font-family: "Silkscreen", sans-serif;
  font-size: 12px;
  color: #ff86ae;
  letter-spacing: 1px;
  z-index: 8;
  top: 32%;
  left: 73.1%;
}

/* 공통 라벨 */
.item-label {
  position: absolute;
  font-family: "Silkscreen", sans-serif;
  font-size: 8px;
  color: #fff6f9;
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  transition: opacity 0.15s ease-out;
  text-shadow: 0 2px 2px rgb(255, 81, 145);
}

#label1 {
  width: 18%;
  height: 3%;
  top: 18%;
  left: 20%;
  transform: translate(-50%, 0);
}

#label2 {
  width: 18%;
  height: 3%;
  top: 18%;
  left: 38%;
  transform: translate(-50%, 0);
}

#label3 {
  width: 18%;
  height: 3%;
  top: 18%;
  left: 55.5%;
  transform: translate(-50%, 0);
}

#label4 {
  width: 18%;
  height: 3%;
  top: 48%;
  left: 21%;
  transform: translate(-50%, 0);
}

#label5 {
  width: 18%;
  height: 3%;
  top: 48%;
  left: 38%;
  transform: translate(-50%, 0);
}

#label6 {
  width: 18%;
  height: 3%;
  top: 48%;
  left: 55%;
  transform: translate(-50%, 0);
}

#label7 {
  width: 18%;
  height: 3%;
  top: 81%;
  left: 21%;
  transform: translate(-50%, 0);
}

#label8 {
  width: 18%;
  height: 3%;
  top: 81%;
  left: 36.5%;
  transform: translate(-50%, 0);
}

#label9 {
  width: 18%;
  height: 3%;
  top: 81%;
  left: 54%;
  transform: translate(-50%, 0);
}

.item-label.show {
  opacity: 1;
}
